form {
	margin: 0 auto;
}

label {
	font-size: 16px;
	width: 150px;
	display: inline;
	text-align: left;
	margin-right: 10px;
	margin-top: 8px;
	margin-bottom: 8px;
}

input {
	width: 250px;
	border: 1px solid #666;
	border-radius: 5px;
	padding: 4px;
	font-size: 16px;
}

input[type=radio] {
	width: 25px;
	border: 1px solid #666;
	border-radius: 5px;
	padding: 4px;
	font-size: 16px;
}

.save {
	font-weight: bold;
	width: 130px;
	padding: 5px 10px;
	margin-top: 30px;
	background: #cccccc;
}

.error {
	color: red;
}

.errorblock {
	color: #000;
	background-color: #ffEEEE;
	border: 3px solid #ff0000;
	padding: 8px;
	margin: 16px;
}

table {
	border-style: none;
	width: 55%;
	background-color: lightblue;
}

tbody {
	background-color: lightblue;
}

tr:nth-child(even) {
	background: #e6e6ff
}

tr:nth-child(odd) {
	background: #e6e6ff
}

tr {
	border-style: none;
	text-align: left;
	widht: 50%;
}

fieldset {
	overflow: hidden;
	width: 250px;
	border: 1px solid #666;
	border-radius: 5px;
	padding: 4px;
	font-size: 16px;
}

select {
	overflow: hidden;
	width: 250px;
	border: 1px solid #666;
	border-radius: 5px;
	padding: 4px;
	font-size: 16px;
}